* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url('../assets//logo_op.png');
    background-repeat: no-repeat;
    background-position: center; */
    max-height: 100vh;
    overflow-y: auto;
    background-color: #ECFCCD;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}